// Colors
$clr1: #be8e96;
$clr2: #140101;
$clr3: #dab7bd;
$clr4: #a17e81;
$clr5: #dadada;
$body-clr: rgb(105, 105, 110);
$task-bgc-clr: #f4f5f7;
$task-button-bgc: rgba(9, 30, 66, 0.04);
$task-button-bgc-hover: rgba(9, 30, 66, 0.08);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$overlay-z-index: 10;
$body-header-mb: 100px;
$border-bottom-clr: rgba(9, 30, 66, 0.13);
$boards-section-mb: 50px;
// Popovers

$qeb-height: 36px;
